<div id="<%= dom_id application %>">
  <p>
    <strong>Appid:</strong>
    <%= application.appID %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= application.company %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= application.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= application.deadline %>
  </p>

  <p>
    <strong>Next:</strong>
    <%= application.next %>
  </p>

</div>
