<h1> Welcome to the Avance Application Manager </h1>

<%= form_tag do%>
<<<<<<< Updated upstream
  <img src="<%= asset_path('IMG.JPG') %>" alt="Narmer and Lexe" width=300>

  <table style="table-layout:fixed;">
	<thead>
		<tr>
			<th> Field </th>
			<th> Value</th>
		</tr>
	</thead>

	<tbody>
			<tr>
			  <td style="white-space:nowrap;"> Job Application ID</th>
			  <td> <%= text_field_tag(:jobIDInput)%></td>
			</tr>

      <tr>
			  <td style="white-space:nowrap;"> Company </th>
			  <td> <%= text_field_tag(:companyInput)%> </td>
			</tr>

      <tr>
			  <td style="white-space:nowrap;"> Location </th>
			  <td> <%= text_field_tag(:locationInput)%></td>
			</tr>

      <tr>
			  <td style="white-space:nowrap;"> Status </th>
			  <td> <%= text_field_tag(:statusInput)%></td>
			</tr>

      <tr>
			  <td style="white-space:nowrap;"> Deadline </th>
			  <td> <%= text_field_tag(:deadlineInput)%></td>
			</tr>

      <tr>
			  <td style="white-space:nowrap;"> Next Steps </th>
			  <td> <%= text_field_tag(:nextStepsInput)%></td>
			</tr>
	</tbody>
</table>

<p style="display: inline-block;"> <%= submit_tag "Submit Job" %> </p>
<p style="display: inline-block;"> <%= submit_tag "Delete Job" %> </p>

=======
  <p> Job Application ID: <%= text_field_tag(:jobIDInput)%> </p>
  <p> Company: <%= text_field_tag(:companyInput)%> </p>
  <p> Location: <%= text_field_tag(:locationInput)%> </p>
  <p> Status: <%= text_field_tag(:statusInput)%> </p>
  <p> Deadline: <%= text_field_tag(:deadlineInput)%> </p>
  <p> Next Steps: <%= text_field_tag(:nextStepsInput)%> </p>
  
  <p> Job Type: <%= select_tag :jobTypeInput, options_for_select(['research', 'internship']) %> </p>
  
  <p> <%= submit_tag "Submit Job" %> </p>
  <p> <%= submit_tag "Delete Job" %> </p>
>>>>>>> Stashed changes
<% end %>


<br> <hr>

<table>
	<thead>
		<tr>
			<th> Job </th>
			<th> Company </th>
      <th> Location </th>
      <th> Status </th>
      <th> Deadline </th>
      <th> Next Steps </th>
      <th> Job Type </th>
		</tr>
	</thead>

	<tbody>
		<% @allJobs.each do |job| %>
			<tr>
				<td> <%= job.jobID %> </td>
				<td> <%= job.company %> </td>
        <td> <%= job.location %> </td>
        <td> <%= job.status %> </td>
        <td> <%= job.deadline %> </td>
        <td> <%= job.next %> </td>
        <td> <%= job.job_type %> </td> <!-- Use snake_case here -->

			</tr>
		<% end %>
	</tbody>
</table>


